# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD27wo1fLQLr__WsqKrDmw_kpMr8QXk4gE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=controle-estoque-porter.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=controle-estoque-porter
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=controle-estoque-porter.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=48491952679
NEXT_PUBLIC_FIREBASE_APP_ID=1:48491952679:web:22d3702f089e8584abac02
